In [18]:
import os
import pandas as pd
import geopandas as gpd
import numpy as np

import matplotlib.pyplot as plt

In [14]:
pd.set_option('display.max_columns', None)
pd.set_option('max_rows', None)

In [15]:
CLEAN_PATH = '../data/data_clean/us_school_districts.csv'

df = pd.read_csv(CLEAN_PATH)

In [16]:
df_2016 = df[(df.YRDATA == 2016)]
df_2016.head()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,LOCRTAX,LOCRPROP,LOCREVPAR,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,TOTALEXP,TCURSPND,TSALWAGE,TEMPBENE,TCURINST,TCURSSVC,PPCSTOT,PPITOTAL,PPSTOTAL
3120,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,6797.0,6775.0,NaN,100.0,9.2,66.6,24.2,76672,74185.0,43030.0,18122.0,43843,23941,7622.0,4563.0,2492.0
3121,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,49106.0,48902.0,NaN,100.0,7.0,42.9,50.1,299880,281647.0,156502.0,61621.0,164977,97231,8942.0,5332.0,3143.0
3122,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,1209.0,1202.0,NaN,100.0,23.2,53.7,23.1,10070,9778.0,5079.0,2064.0,4907,3896,10621.0,5380.0,4272.0
3123,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,2844.0,2836.0,NaN,100.0,13.6,60.7,25.7,29843,25477.0,14015.0,5746.0,15302,7901,8851.0,5384.0,2780.0
3124,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,1716.0,1572.0,NaN,100.0,11.3,67.2,21.5,31662,30616.0,17107.0,7057.0,16407,11087,8931.0,4882.0,3337.0

In [33]:
def n_largest_or_smallest(df, n, operation):
    """Return a sorted df of the n most/least funded districts

        Parameters:
            df (dataframe): the dataframe to be modified
            n (int): the number of districts to keep
            operation (str)['smallest' or 'largest']: whether to return most/least funded 
        Returns:
            new_df (dataframe): A sorted dataframe of the n most/least funded districts in each state
    """
    
    if operation == 'largest':
        new_df = df.groupby(by='STATE')[SCHEMA].apply(lambda x: x.nlargest(n, columns='TOTALREV')) 
    elif operation == 'smallest':
        new_df = df.groupby(by='STATE')[SCHEMA].apply(lambda x: x.nsmallest(n, columns='TOTALREV'))
    else:
        print("operation must be 'largest' or 'smallest'")
        return
    
    return new_df

In [34]:
SCHEMA = ['YRDATA',
'NAME',
'ENROLL',
'TOTALREV',
'TFEDREV',
'TSTREV',
'TLOCREV',
'LOCRTAX',
'LOCRPROP',
#'LOCREVPAR',
'PCTTOTAL',
'PCTFTOT',
'PCTSTOT',
'PCTLTOT',
'TOTALEXP',
'TCURSPND',
'TSALWAGE',
'TEMPBENE',
'TCURINST',
'TCURSSVC',
'PPCSTOT',
'PPITOTAL',
'PPSTOTAL']

least_funded = n_largest_or_smallest(df_2016, 3, 'smallest')
most_funded = n_largest_or_smallest(df_2016, 3, 'largest')

least_funded.head()
most_funded.head()

              YRDATA                                       NAME   ENROLL  \
STATE
Alabama 3220    2016              MOBILE COUNTY SCHOOL DISTRICT  57581.0
        3187    2016        JEFFERSON COUNTY BOARD OF EDUCATION  36092.0
        3121    2016             BALDWIN COUNTY SCHOOL DISTRICT  30931.0
Alaska  4567    2016                  ANCHORAGE SCHOOL DISTRICT  48324.0
        4558    2016  MATANUSKA SUSITNA BOROUGH SCHOOL DISTRICT  18742.0

              TOTALREV  TFEDREV  TSTREV  TLOCREV   LOCRTAX  LOCRPROP  \
STATE
Alabama 3220    564939    78217  310545   176177  120352.0   94632.0
        3187    344274    33131  199350   111793   86396.0   86355.0
        3121    338236    23710  145180   169346   49106.0   48902.0
Alaska  4567    758779    78331  463256   217192       0.0       0.0
        4558    303215    18467  222607    62141       0.0       0.0

              PCTTOTAL  PCTFTOT  PCTSTOT  PCTLTOT  TOTALEXP  TCURSPND  \
STATE
Alabama 3220     100.0     13.8     55.0     31.2    606882  525674.0
        3187     100.0      9.6     57.9     32.5    338349  321988.0
        3121     100.0      7.0     42.9     50.1    299880  281647.0
Alaska  4567     100.0     10.3     61.1     28.6    800058  696207.0
        4558     100.0      6.1     73.4     20.5    358757  276704.0

              TSALWAGE  TEMPBENE  TCURINST  TCURSSVC  PPCSTOT  PPITOTAL  \
STATE
Alabama 3220  284363.0  119121.0    276941    203328   9037.0    4796.0
        3187  184880.0   74169.0    179721    112276   8795.0    4980.0
        3121  156502.0   61621.0    164977     97231   8942.0    5332.0
Alaska  4567  367144.0  231279.0    411183    263280  14397.0    8509.0
        4558  138729.0   78139.0    150590    119298  14763.0    8035.0

              PPSTOTAL
STATE
Alabama 3220    3531.0
        3187    3111.0
        3121    3143.0
Alaska  4567    5448.0
        4558    6365.0

In [11]:
df_2016[df_2016.NAME.str.lower().str.contains('ozark', regex=False)]

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,LOCRTAX,LOCRPROP,LOCREVPAR,PCTTOTAL,PCTFTOT,PCTSTOT,PCTLTOT,TOTALEXP,TCURSPND,TSALWAGE,TEMPBENE,TCURINST,TCURSSVC,PPCSTOT,PPITOTAL,PPSTOTAL
3159,Alabama,2131.0,OZARK CITY SCHOOL DISTRICT,2016,23012,2548,14093,6371,2576.0,2572.0,NaN,100.0,11.1,61.2,27.7,23479,20376.0,11162.0,4584.0,11081,7703,9468.0,5200.0,3615.0
17161,Arkansas,0.0,OZARKS UNLIMITED RESOURCES COOP,2016,5775,1740,2398,1637,0.0,0.0,NaN,100.0,30.1,41.5,28.3,5622,5606.0,3683.0,375.0,3136,2470,0.0,0.0,0.0
17220,Arkansas,1867.0,OZARK SCH DIST,2016,18854,2170,14969,1715,1216.0,1216.0,NaN,100.0,11.5,79.4,9.1,17803,17199.0,9844.0,2723.0,9837,6530,9212.0,5269.0,3498.0
17305,Arkansas,665.0,OZARK MOUNTAIN SCH DIST 12,2016,8917,1097,6920,900,431.0,431.0,NaN,100.0,12.3,77.6,10.1,8433,8064.0,4420.0,1341.0,4238,3264,12114.0,6364.0,4908.0
179422,Missouri,5569.0,OZARK SCH DIST R 6,2016,58583,3095,29883,25605,17802.0,17602.0,NaN,100.0,5.3,51.0,43.7,65073,47677.0,31418.0,8317.0,30343,14889,8431.0,5449.0,2674.0